@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

body{
    margin: 0px;
    font-family:"Poppins";
    font-size: 1,2rem;
}

h1{
    font-family:"Poppins";
    position: absolute;
    top: 4px;
    font-size: 3.5rem;
}
h5{
    font-family:"Poppins";
}
main{
    margin: 0;
    display: flex;
    max-width: 1100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    background-image:linear-gradient(odeg, rgb(0, 0, 0) 0%, rgb(99, 48, 0)150);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}
.card{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10 px rgb(0, 0, 0);
    border-radius: 15px;
    >img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
    }

}
.card > h2,
p{
    display: none;
    font-family:"Poppins";
}
.card >p{
    display: none;
    font-family:"Poppins";
}
.card:hover{
    cursor: pointer;
    animation: choose 2s ease-in forwards;
    img {
        z-index: 1;
        filter: blur(2px);

    }
}
.card:hover > h2,
p{
position: relative;
color: rgb(0, 0, 0);
top: -150px;
left: 15px;
display: block;
font-family:"Poppins";
}
.card:hover >p{
    position: relative;
    color: rgb(0, 0, 0);
    top: -150px;
    left: 15px;
    display: block;
    font-family:"Poppins";
}
@keyframes choose {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
        margin: 50px;
    }
}