@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

:root{
    /* colors  */
    --primary-color:hsl(47, 88%, 53%);
    --secondary-color:hsl(33, 91%, 91%);
    --card-bg-color:hsl(28, 98%, 74%);
    --main-txt-color:hsl(0,0%,0%);
    --btn-bg-color:hsl(47, 88%, 53%);
    --btn-txt-color: hsl(0 , 0% ,0%);
    --btn-shadow :0.5px 0.3px 1.1px rgba(0, 0, 0, 0.061),1px 0.6px 2.9px rgba(0, 0, 0, 0.087),2px 1.2px 5.8px rgba(0, 0, 0, 0.096),5.6px 3.4px 12px rgba(0, 0, 0, 0.109),10px 15px 33px rgba(0, 0, 0, 0.16);
    --scroll-bar-bg-color:hsl(28, 98%, 74%);
    --scroll-bar-hover-bg-color:hsl(28, 100%, 60%);
    /* fonts family  */
    --main-font-family:"poppins";
    /* fonts size  */
    --fs-header-nav: 18px ;
    --fs-hero-header: 60px ;
    --fs-hero-body: 20px ;
    --fs-hero-btn: 24px ;
    --fs-card-header: 24px;

    /* fonts weight  */
    --fw-header-nav:  500;
    --fw-hero-body:  400;
    --fw-btn: 700;
    --fw-card-header:  500;

}

/*
    Base
*/

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font-family);
    background-color: var(--secondary-color);
    transition: all 1s ease;
}

/*
    Reuse classes
*/

.section{
    padding: 0 10px ;
}
.section2{
    padding: 0 10px ;
}
.nav li {
    list-style-type: none;
    position: relative;
    padding-left: 25px;
    padding-right: 40px;
}

.nav li a{
    text-decoration: none;
    color: var(--main-txt-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: var(--fw-btn);
}

.title{
    display: flex;
    justify-content: center;
    font-family:'Times New Roman';
}
/*
======================================================
*/
#vid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    
}
.anadirprenda {
    list-style: none;
    color:black;
    text-decoration:overline;
    padding-bottom: 35px;
}

/* header section  */
.header-section{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 60px;
    padding-bottom: 80px;
}
.header-logo,
.header-nav {
    font-size: var(--fs-header-nav);
    font-weight: var(--fw-header-nav);
}
.header-logo{
    color: var(--main-txt-color);
    cursor: pointer;
}
.header-logo span{
    color: var(--primary-color);
    font-size: 2rem;
}
.header-nav{
    height: 100%;
    width: 100%;
}
.header-nav .nav{
    height: 100%;
    width: 70%;
    padding:20px;
    justify-content: flex-start;
}
.header-nav .nav li::before{
    content: "" ;
    position: absolute;
    bottom: -5px;
    height: 5px;
    width: 0;
    border-radius: 5px;
    background-color: hsl(56, 95%, 50%);
    transition: width .5s ease;
    
}
.header-nav .nav li.active::before,
.header-nav .nav li:hover::before{
    width: 80%;
}
/*
=========================================
*/

/* hero section  */
.hero-section{
    height: calc(100vh - 50px);
    position: relative;
    overflow: hidden;
}
.hero-section .hero-content{
    height: 80%;
    width: 40%;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    font-family: var(--main-font-family);
}
.hero-content .content-header{
    font-size: var(--fs-hero-header);
    color: var(--main-txt-color);
    font-family: var(--main-font-family);
}
.hero-content .content-body{
    font-size: var(--fs-hero-body);
    font-weight: var(--fw-hero-body);
    color: var(--main-txt-color);
    font-family: var(--main-font-family);
    padding-bottom: 0.5rem;
}
.hero-content .content-btn{
    border: none;
    background-color: var(--btn-bg-color);
    font-size: var(--fs-hero-btn);
    color: var(--btn-txt-color);
    transition: all .5s ease;
    font-family: var(--main-font-family);
}
.content-btn:hover{
    transform: translateY(-10px) scale(1.1);
    box-shadow: var(--btn-shadow);
    font-family: var(--main-font-family);
}
/* hero section  */
.hero-section2{
    position: relative;
    overflow: hidden;
}
.hero-section2 .hero-content2{
    height: 80%;
    width: 40%;
    padding: 0px;
    align-items: flex-start;
    z-index: 1;
    font-family: var(--main-font-family);
}
.hero-content2 .content-body2{
    font-size: var(--fs-hero-body);
    font-weight: var(--fw-hero-body);
    color: var(--main-txt-color);
    font-family: var(--main-font-family);
    padding-bottom: 0.5rem;
}

/* hero image section  */
.hero-section .hero-image{
    height: 100%;
    width: 80%;
    position: relative;
    justify-content: center;
}
.hero-image .main-img{
    height: 80%;
}
.hero-image .bg-img{
    position: absolute;
    height: 120%;
}
/* hero 2 image section  */
.hero-section2 .hero-image2{
    height: auto;
    width: 70%;
    position: relative;
    justify-content: center;
}
.hero-image2 .main-img2{
    height: 80%;
}
.hero-image2 .bg-img2{
    position: absolute;
    height: 120%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}  
.form-register {
    width: 400px;
    background: #edd653;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #efeded;
  }
  
.form-register h4 {
    
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls {
    width: 100%;
    background: #e7e4c6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #eec696;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register {
    color: rgb(36, 36, 36);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background:  #f5ae57;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .btn-warning{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #ffc100;
    border: 0;
    transition: 0.2s;
    overflow: hidden;
  }
  
.btn-warning input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
  }
  
  .btn-warning:hover{
    background-color: #d9a400;
  }
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #d9a400;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#000000;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 300px;
    height: 3em;
    line-height: 3;
    background: #d9a400;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #d9a400;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}
.select:hover::after {
   color:#ffffff;
}

